html
  head
    title='Genshin Player Card'
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', type='image/png', href='favicon.png')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css')
    link(rel='stylesheet', href='style.css')
  body
    h3 Instructions:

    h5 Get a SVG image
    code https://genshin-card.tretrauit.repl.co/{skin}/{hoyolab-id}.svg

    h5 As a HTML &lt;img> object
    code &lt;img src="https://genshin-card.tretrauit.repl.co/{skin}/{hoyolab-id}.svg" alt="genshin-card" />

    h5 BBCode
    code [img]https://genshin-card.tretrauit.repl.co/{skin}/{hoyolab-id}.svg[/img]

    h5 Markdown
    code ![](https://genshin-card.tretrauit.repl.co/{skin}/{hoyolab-id}.svg)

    h3 Background number
    h5 <code>rand</code> to use random background
    h5 Random from a range
    pre.
      2,5,9 -> [2, 5, 9]
      3-5 -> [3, 4, 5]
      3-5,7,9,12-15 -> [3, 4, 5, 7, 9, 12, 13, 14, 15]

    h3 Preview:
    img(src="https://genshin-card.tretrauit.repl.co/rand/17111457.svg" alt="示例图片")

    details
      summary(style='display: inline-block;')
        h5(style='display: inline-block; cursor: pointer;') World Exploration

      p Detailed image is not working for now.
      //- p 由于配额限制，带有探索度和宝箱数量的图片地址路由使用以下形式：
      //- code https://genshin-card.tretrauit.repl.co/detail/{背景编号}/{米游社ID}.png
      //- img(src="https://genshin-card.tretrauit.repl.co/detail/42,51-56/17111457.svg" alt="示例图片")

    details
      summary(style='display: inline-block;')
        h3(style='display: inline-block; cursor: pointer;') All backgrounds
      p(style='margin: 0;') Just replace the background number in the address with whatever you want (you can right-click to open in a new tab to view the image address)
      p Total<code>0 - 108</code>109 backgrounds
      each _, i in Array(109)
        div(class='perview-card')
          span #{i}
          img(class='lazy', data-src='https://genshin-card.tretrauit.repl.co/' + i + '/17111457.svg')

    h3 Credits
    ul
      li
        a(href='https://repl.it/', target='_blank', rel='nofollow') repl.it
      li
        a(href='https://www.hanyi.com.cn/productdetail.php?id=989&type=0', target='_blank', rel='nofollow') 汉仪文黑
      li
        a(href='https://www.mihoyo.com', target='_blank', rel='nofollow') miHoYo
      li 
        a(href='https://github.com/journey-ad', target='_blank', rel='nofollow') journey-ad

    h3 Artwork Copyright
    ul
      li
        a(href='https://www.mihoyo.com', target='_blank', rel='nofollow') miHoYo
      li
        a(href='https://github.com/journey-ad', target='_blank', rel='nofollow') journey-ad
      li
        a(href='https://bbs.nga.cn/read.php?tid=24827770', target='_blank', rel='nofollow') V–旅行者
      li
        a(href='https://www.pixiv.net/artworks/86829113', target='_blank', rel='nofollow') TiMEO
      li
        a(href='https://www.pixiv.net/artworks/85194788', target='_blank', rel='nofollow') みーな

    h3 Tool
    .tool
      code https://genshin-card.tretrauit.repl.co
      input#bgIdx(type='text', value='0', style='display: inline-block; width: 60px; height: 1.4em; line-height: 1.4em; margin: 0 4px; vertical-align: middle;')
      code /
      input#uid(type='text', placeholder='Hoyolab ID', style='display: inline-block; width: 120px; height: 1.4em; line-height: 1.4em; margin: 0 4px; vertical-align: middle;')
      code .svg
      button#get(style='margin: 10px 0;') Get
      img#result(style='display: block;')

      script.
        var btn = document.getElementById('get'),
            img = document.getElementById('result')

        btn.addEventListener('click', function() {
          var bgIdxEl = document.getElementById('bgIdx'),
              uidEl = document.getElementById('uid')
          var bgIdx = bgIdxEl.value ? bgIdxEl.value.trim() : ''
          var uid = uidEl.value ? uidEl.value.trim() : ''
          if(!uid) {
            alert('请输入UID')
            return
          }

          img.src = 'https://genshin-card.tretrauit.repl.co/' + bgIdx + '/' + uid + '.svg'
        })

    p.copyright
      a(href='https://github.com/teppyboy/Genshin-Card', target='_blank') source code

    script.
      document.addEventListener("DOMContentLoaded", function() {
        var lazyImages = [].slice.call(document.querySelectorAll("img.lazy"));
      
        if ("IntersectionObserver" in window) {
          let lazyImageObserver = new IntersectionObserver(function(entries, observer) {
            entries.forEach(function(entry) {
              if (entry.isIntersecting) {
                let lazyImage = entry.target;
                lazyImage.src = lazyImage.dataset.src;
                lazyImage.classList.remove("lazy");
                lazyImageObserver.unobserve(lazyImage);
              }
            });
          });
      
          lazyImages.forEach(function(lazyImage) {
            lazyImageObserver.observe(lazyImage);
          });
        } else {
          // Possibly fall back to event handlers here
        }
      });